.venv/
.vscode/
database.db
.env
.env.docker
tests/
__pycache__/
database.db-shm
database.db-wal
postgres/
logs/
airflow/logs/
airflow/config/passwords.json
airflow/config/*.generated
airflow/**/__pycache__/
airflow/airflow.cfg